
@media(min-width:600px) {
    .container_about_travel  {
        display: grid;
        grid-template-columns: 1fr 1fr;
       gap: 10px;
padding-left: 15%;
padding-right: 10%;
    }}

    .container_about_travel_text {
       display: block;
    ;
    }
   .container_about_travel_foto {
    object-fit: cover;
    width: 90%;
    height: 70%;
   
   }